
@use "./variables" as *;


main {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $body-colour;
    width: 300px;
    height: 500px;
    border: 3px solid rgb(92, 196, 231);
    
}
