@use "./variables" as *;



.numpad {
    
    display: grid; 
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px;
}
button{
    
    border-radius: 50%;
    margin:4px;
    border:none;
    box-shadow: 3px 3px 3px rgb(60, 26, 118);
    font-family: $main-font;
    font-weight: 1000;
    font-size:18px;
    
}

button:hover {
    
    transform:scale(1.15);
}

#num1, #num2, #num3, 
#num4, #num5, #num6 ,
#num7, #num8, #num9 , #num0{
    background-color: $number-button-color;
   
    
    
}

#clear, #plus-minus, #multiply, #divide,
#percentage, #add, #subtract, #backspace,
#decimal {
    background-color: $operator-button-color;
    
}

#equals {
    background-color: $equals-button-color;
    

}