
@use "./variables" as *;



.display{
    background-color:$calculation-display-color;
    text-align: end;
    width: 240px;
    margin:20px;
   
}
#calculation {
    margin:0;
    font-size: 20px;
}

#curent-result {
    margin:0;
    font-size: 40px;
}