@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
$main-font: 'Major Mono Display', monospace;
 $body-colour:#83A2FF;
 $calculation-display-color:#B4BDFF;
 $result-display-color:#DCEDC2;
 $number-button-color: #FFD28F ;
 $operator-button-color: #FFE3BB;
 $tablet: 768px;
