
@use "./variables" as *;


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $body-colour;
    width: 300px;
    height: 510px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px $shadow-color;
}

.dark-mode-toggle {
    background-color:$dark-body ;
    box-shadow: 10px 10px 10px black;
}

@media screen and (min-width: 768px) { 

    main{
    width: 600px;
    height: 800px;
    }
};

