               
@use "./variables" as *;
@use "./body";
@use "./display";
@use "./buttons";

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,210,143);
    background: linear-gradient(90deg, rgba(255,210,143,1) 0%, rgba(255,227,187,1) 37%, rgba(180,189,255,1) 100%);
}

.dark-mode-background{

    background: rgb(154,156,231);
    background: linear-gradient(0deg, rgba(154,156,231,1) 0%, rgba(47,48,58,1) 0%, rgba(99,101,143,1) 100%);}
    
